@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{font-family: Noto Sans Mono, sans-serif !important;}
.se-factory-body {
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  min-height: 100%;
}
@media only screen and (max-width: 991px) {
  .hero {
    height: 100%;
    flex-direction: column;
    width: 100% !important;
  }
  .hero-pads-right {
    padding-top: 20px !important;
    padding-bottom: 100px !important;
  }
}
@media only screen and (max-width: 767px) {
  .hero-left-header {
    font-size: 18px !important;
  }
  .hero-right-header {
    font-size: 18px !important;
  }
  .hero-left-q {
    font-size: 28px !important;
  }
  .hero-right-q {
    font-size: 28px !important;
  }
  .hero-left-p {
    font-size: 14px !important;
  }
  .hero-right-p {
    font-size: 14px !important;
  }
  .hero-left-hashtag {
    font-size: 14px !important;
  }
  .hero-right-hashtag {
    font-size: 14px !important;
  }
}

.hero {
  height: 100vh;
  max-height: 100vh;
  min-height: 100%;
  display: flex;
  position: relative;
}
.hero-pads-left {
  padding-top: 120px;
}
.hero-pads-right {
  padding-top: 120px;
}

.hero-left {
  height: 100%;
  width: auto;
  background-image: linear-gradient(
      rgba(0, 200, 200, 0.8),
      rgba(0, 200, 200, 0.8)
    ),
    url(images/left_hero.png);
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  text-align: right;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 40px;
}
.hero-left-title {
  padding-top: 40px;
  line-height: 1;
}

.hero-left-header {
  font-size: 24px;
  background-color: #373737;
  color: white;
  padding: 5px;
  font-weight: 900;
  line-height: 2.5;
}
.hero-left-q {
  font-size: 36px;
  color: white;
  font-weight: 900;
}
.hero-left-p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
}
.hero-left-hashtag {
  font-size: 20px;
  background-color: #373737;
  color: white;
  padding: 10px;
  font-weight: 900;
}
.hero-right {
  height: 100%;
  width: auto;
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.8),
      rgba(35, 35, 35, 0.8)
    ),
    url(images/right_hero.png);
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.hero-right-title {
  padding-top: 40px;
  text-align: left;
}
.hero-right-header {
  font-size: 24px;
  background-color: white;
  color: #373737;
  padding: 5px;
  font-weight: 900;
  line-height: 2.35;
}
.hero-right-q {
  color: white;
  font-size: 36px;
  font-weight: 900;
}
.hero-right-p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 43px;
  line-height: 1.5;
}
.hero-right-hashtag {
  font-size: 20px;
  background-color: white;
  color: #373737;
  padding: 10px;
  font-weight: 900;
}
.sf-header {
  height: 50px;
  max-width: 1340px;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  position: absolute;
  top: 70px;
  bottom: auto;
  left: 0%;
  right: 0%;
  justify-content: space-between;
}
.header-sf {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.menu-bar {
  width: 36px;
  height: 36px;
  position: static;
  background-color: #373737;
  border-radius: 20%;
}
.hello-world {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  background-color: #e7e7e7;
}
.hello-world-header {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  font-size: 24px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
.hello-world-symbol {
  padding-left: 15px;
  color: aquamarine;
  font-display: bold;
  font-size: 36px;

  padding: 10px 20px;
}
.ball-container {
  display: flex;
  margin-left: 650px;
  column-gap: 10px;
  row-gap: 10px;
}
.black-ball {
  height: 28px;
  width: 28px;
  background-color: black;
  border-radius: 20px;
}
.white-ball {
  height: 28px;
  width: 28px;
  background-color: lightgray;
  border-radius: 20px;
}
.green-ball {
  height: 28px;
  width: 28px;
  background-color: aquamarine;
  border-radius: 20px;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-grow{
  flex-grow: 1;
}

.justify-center{
  justify-content: center;
}

.items-center{
  align-items: center;
}

.gap-8{
  gap: 8px;
}

.container{
  width: 1340px;
  margin: auto;
}

.text-primary{
  color: rgb(40, 238, 167);
}

.semi-bold{
  font-weight: 600;
}

.text-bold{
  font-weight: 800;
}

.text-24{
  font-size: 24px;
}

.bg-black{
  background-color: #000;
}

.bg-primary{
  background-color: rgb(40, 238, 167);
}

.bg-grey{
  background-color: #acacac;
}

.rounded-full{
  border-radius: 999px;
}

.w-20{
  width: 20px;
}

.h-20{
  height: 20px;
}